{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <img src="{% static "articles/mz3.jpg" %}" alt="sample">
    <img src="{% static "articles/mz4.jpg" %}" alt="엥">
    <img src="{% static %}" alt="">

    <img src="{% static "m3.jpg" %}" alt="adsa">
    <a href="{% url "accounts:login" %}">login</a>
    <form action="{% url "accounts:logout"%}" method="POST">
        {% csrf_token %}
        <input type="submit">
    </form>
    <a href="{% url "accounts:signup" %}">회원가입</a>
    <form action="{% url "accounts:delete"%}" method="POST">
        {% csrf_token %}
        <input type="button" value = "회원탈퇴">
    </form>
    {% for article in  articles%}
        <p>제목: {{article.title}}</p>
        <p>내용: {{article.content}}</p>
        <a href="{% url 'articles:detail' article.pk %}">게시글 보기</a>
        <hr>
    {% endfor %}
    <a href="{% url 'articles:create' %}">게시글 작성</a>
</body>
</html>