{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="{% static "articles/mz3.jpg" %}" alt="sample">
    <img src="{% static "articles/mz4.jpg" %}" alt="엥">
    <img src="{% static "m3.jpg" %}" alt="adsa">
    {% for article in  articles%}
        <p>제목: {{article.title}}</p>
        <p>내용: {{article.content}}</p>
        <a href="{% url 'articles:detail' article.pk %}">게시글 보기</a>
        <hr>
    {% endfor %}
    <a href="{% url 'articles:create' %}">게시글 작성</a>
</body>
</html>